<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2 class="h5 mb-4">Добавить новое СТО</h2>-->
<!--<form th:action="@{/admin/sto/add}" method="post">-->
<!--    <div class="mb-3">-->
<!--        <label class="form-label">Название СТО:</label>-->
<!--        <input type="text" name="name" class="form-control" required>-->
<!--    </div>-->

<!--    <div class="mb-3">-->
<!--        <label class="form-label">Адрес:</label>-->
<!--        <textarea name="address" class="form-control" rows="2" required></textarea>-->
<!--    </div>-->

<!--    <div class="mb-3">-->
<!--        <label class="form-label">Часы работы:</label>-->
<!--        <input type="text" name="workingHours" class="form-control" placeholder="Пример: 09:00-18:00" required>-->
<!--    </div>-->

<!--    <div class="mb-3">-->
<!--        <label class="form-label">Код подтверждения:</label>-->
<!--        <input type="text" name="verificationCode" class="form-control" required>-->
<!--    </div>-->

<!--    <button type="submit" class="btn btn-primary">Сохранить</button>-->
<!--    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->